*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

html {
  font-family: "Courier", monospace;
}

html * {
  font-family: inherit;
}

h1 {
  font-family: system-ui, Roboto, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

body {
  background-color: wheat;
}





.game {
  display: flex;
  justify-content: space-evenly;
}


.options {
}


.gameboard {
  --board-size: 40vw;
  --squares: 1;
  --square-size: calc(var(--board-size) / var(--squares));

  width: var(--board-size);
  height: var(--board-size);
  padding: 10px;

  background-color: grey;
  border: 2px solid black;
  border-radius: 2px;
}

.row {
  display: flex;
}

.square {
  box-sizing: border-box;
  background-color: lightgrey;
  border: thin solid black;
  width: var(--square-size);
  height: var(--square-size);

  &:hover {
    background-color: #c3c3c3;
  }
}

form {
  font-family: "Times New Roman", serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    font-family: Roboto, sans-serif;
  }

  & > div:last-of-type { /* submit button */
    align-self: center;
  }

  label {
    display: inline-block;
    width: 60px;
  }
}

.submitBtn {
  border: thin solid black;
  border-radius: 3px;
  padding: 2px 4px;
  width: 50px;
}


.start {
  background-color: #80ff80;

  &::after {
    content: "Start";
  }

  &:hover {
    background-color: #70ee70;
  }

  &:active {
    background-color: #60dd60;
  }
}

.reset {
  background-color: #ff0000;

  &::after {
    content: "Reset";
  }

  &:hover {
    background-color: #ee0000;
  }

  &:active {
    background-color: #cc0000;
  }
}
